.form-container {
    width: 100%;
    margin: 10px;
    display: flex;
    background-color: white;
    color: #2c2c31;
    font-family: Inter;
  }
  .form-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 12px;
    display: inline-flex;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    font-weight: 400;
    font-size: 15px;
  }

  .form-label {
    padding-left: 8px;
    word-wrap: break-word;
  }
  
  .form-input {
    background: #e9f2fc;
    border-radius: 10px;
    padding: 10px;
    color: #6EA7EC;
    display:flex
  }